
/* Your CSS Code here. */
.btn{
	background-color:black;        /*backGrClr btn*/
	color:white;                    /*font color before hover*/
	border-radius:5px;
}


/*after hovering*/
.btn:hover{
	background-color:yellow;            /*backGrClr btn aftr hover*/
	color:black;                         /*font color before hover*/
	border-radius:30px;
}